#panel {
	padding: 12px;
	border-radius: 6px;
	background-color: #303030;
}
#head, #content {
	display: flex;
	align-items: center;
}
#head {
	margin-bottom: 12px;
	& > .output {
		text-align: right;
	}
	.spaced {
		vertical-align: middle;
	}
}
.input, .output {
	width: 50%;
}
#content {
	text-align: center;
	font-size: 0;
	img {
		max-width: 100%;
	}
}
