#panel {
	padding: 12px;
	border-radius: 6px;
	background-color: #303030;
}
#head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	& > .output {
		text-align: right;
	}
}
