#panel {
	padding: 12px;
	border-radius: 6px;
	background-color: #303030;
}
#head, #content {
	display: flex;
	align-items: center;
}
#head {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	.spaced {
		vertical-align: middle;
	}
}
#content {
	text-align: center;
	font-size: 0;
}
#input, #output {
	width: 50%;
}
#input {
	margin-right: 8px;
}
.media {
	max-width: 100%;
}
