#container {
	background-repeat: no-repeat;
	background-position: left calc(50% - 256px) center;
	background-size: 256px;
	background-image: url(/images/icon.svg);
}
#loginForm {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
}
@media (max-width: 1023px) {
	#container {
		background-position: top calc(50% - 256px) center;
	}
	#loginForm {
		transform: translateX(-50%);
	}
}
.grecaptcha-badge {
	border-radius: 3px;
	box-shadow: none !important;
	overflow: hidden;
}
