#versionContainer {
	padding: 0 32px 32px 32px;
	text-align: center;
}
#dataPacks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.dataPack {
	display: inline-flex;
	width: 360px;
	margin: 8px;
}
.mdc-card__actions {
	justify-content: flex-end;
	margin-top: auto;
}
#credit {
	margin-top: 12px;
	text-align: center;
}
