.mdc-linear-progress .mdc-linear-progress__bar-inner {
	background-color: #b4783c;
}
main {
	text-align: center;
}
#cube {
	height: 512px;
	margin: 0 -45px;
	background-image: url(/pipe/images/icon/cube.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#details {
	opacity: 0.4;
}
