.mdc-linear-progress .mdc-linear-progress__bar-inner {
	background-color: #b4783c;
}
main {
	text-align: center;
}
#logo {
	height: 256px;
	background-image: url(/images/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}
#details {
	opacity: 0.4;
}
