.mdc-linear-progress .mdc-linear-progress__bar-inner {
	background-color: #b4783c;
}
main {
	user-select: none;
}
#table {
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
	th, td {
		padding: 0.75em 0.25em;
		border-bottom: 1px solid #373737;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
#nameHead {
	width: 60%;
}
#sizeHead, #dateHead {
	width: 20%;
}
.item {
	&.loading {
		opacity: 0.7;
		background-image: linear-gradient(rgba(255, 128, 0, 0.5), rgba(255, 128, 0, 0.5));
		background-repeat: no-repeat;
		background-size: 0;
	}
	&.selected {
		background-color: rgba(255, 128, 0, 0.5);
	}
}
#uploadButton {
	position: fixed;
	right: 14px;
	bottom: 14px;
	background-color: #df7f20;
}
#targetIndicator {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	background-color: #ff8000;
	transition: opacity 0.15s ease-out;
}
#targetIndicator.visible {
	opacity: 0.2;
}
.mdc-text-field {
	.mdc-line-ripple {
		background-color: #b57a40;
	}
	&--focused:not(.mdc-text-field--textarea):not(.mdc-text-field--fullwidth):not(&--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
		color: #e9a663;
	}
}
