.mdc-linear-progress .mdc-linear-progress__bar-inner {
	background-color: #b4783c;
}
#table {
	width: 100%;
	border-spacing: 0;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	.file.loading {
		background-image: linear-gradient(rgba(255, 128, 0, 0.25), rgba(255, 128, 0, 0.25));
		background-repeat: no-repeat;
		background-size: 0;
	}
	th, td {
		padding: 0.75em 0.25em;
		border-bottom: 1px solid #373737;
	}
	#nameHead {
		width: 60%;
	}
	#typeHead, #dateHead {
		width: 15%;
	}
	#sizeHead {
		width: 10%;
	}
}
#uploadButton {
	position: fixed;
	right: 1em;
	bottom: 1em;
	background-color: #df7f20;
}
#targetIndicator {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	background-color: #ff8000;
	transition: opacity 0.15s ease-out;
}
#targetIndicator.visible {
	opacity: 0.2;
}
