#targetIndicator {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	background-color: #ff8000;
	transition: opacity 0.15s ease-out;
}
#targetIndicator.visible {
	opacity: 0.2;
}
