::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	&-track {
		background-color: transparent;
	}
	&-thumb {
		border: 2px solid transparent;
		background-clip: content-box;
		background-color: #484848;
		&:active {
			background-color: #606060;
		}
	}
	&-corner {
		background-color: #303030;
	}
}
* {
	caret-color: currentColor !important;
}
body {
	margin: 0;
	overflow: hidden;
	background-color: #202020;
	color: rgba(255, 255, 255, 0.87);
}
hr {
	height: 0;
	margin: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}
.hidden {
	display: none;
}
.spaced + .spaced {
	margin-left: 8px;
}
.help {
	width: 1em;
	height: 1em;
	padding: 0;
	vertical-align: bottom;
}
#container {
	position: absolute;
	width: 100%;
	height: calc(100% - 64px);
	margin-top: 64px;
	overflow-x: hidden;
	overflow-y: auto;
	@media (max-width: 599px) {
		height: calc(100% - 56px);
		margin-top: 56px;
	}
}
.mdc-top-app-bar {
	background-color: #303030;
	top: 0;
}
.mdc-linear-progress {
	position: absolute;
	bottom: 0;
	&:not(.buffering) .mdc-linear-progress {
		&__buffer, &__buffering-dots {
			display: none;
		}
	}
	.mdc-linear-progress {
		&__buffering-dots {
			opacity: 0.5;
		}
		&__buffer {
			opacity: 0.25;
		}
		&__bar-inner {
			background-color: #b43c3c;
		}
	}
}
.mdc-fab {
	background: none;
	box-shadow: none;
	&:enabled {
		color: rgba(255, 255, 255, 0.6);
		&:hover, &:focus {
			color: rgba(255, 255, 255, 0.87);
		}
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.3);
		cursor: default;
		pointer-events: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
			&::before, &::after {
				opacity: 0;
			}
		}
	}
}
.mdc-drawer {
	user-select: none;
	&--temporary {
		color: rgba(255, 255, 255, 0.87);
	}
	&__header {
		display: none;
		&-content {
			background-color: #202020;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		background-color: #303030;
	}
	.mdc-list {
		color: inherit;
		&, &-item__graphic {
			padding: 8px 0;
			color: inherit;
		}
		&-item {
			&::before {
				background-color: #ffffff;
			}
			&:hover::before {
				opacity: 0.06;
			}
			&:focus::before {
				opacity: 0.12;
			}
			&:active::before {
				opacity: 0.18;
			}
			&.visiting {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}
#legal {
	margin: 16px;
	opacity: 0.75;
	font-size: small;
}
#externalContainer {
	align-self: flex-start;
	margin-top: auto;
	#externals {
		margin: 10px;
		padding: 2px;
		border-radius: 2px;
		background-color: currentColor;
		.external {
			display: inline-block;
			min-width: 28px;
			height: 28px;
			margin: 1px;
			padding: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 24px;
		}
	}
}
main {
	margin: 0 auto;
	padding: 60px;
	background-color: #282828;
	word-break: break-word;
	word-wrap: break-word;
	@media (max-width: 1020px) {
		width: calc(100% - 120px);
		max-width: calc(100% - 120px);
		min-height: calc(100% - 120px);
		margin: 0;
	}
	@media (min-width: 1021px) and (max-width: 1519px) {
		max-width: 780px;
	}
	@media (min-width: 1520px) {
		max-width: 1280px;
	}
}
.mdc-ripple-surface {
	user-select: none;
}
.mdc-card {
	background-color: #303030;
	&__title {
		margin: 0;
	}
	&__subtitle {
		margin: 0;
		color: rgba(255, 255, 255, 0.54);
	}
	&__area {
		padding: 0 1rem 8px 1rem;
		color: rgba(255, 255, 255, 0.54);
		&:first-child {
			padding-top: 1rem;
		}
		&:last-child {
			padding-bottom: 1rem;
		}
	}
}
.mdc-button {
	&:enabled {
		color: rgba(255, 255, 255, 0.87);
	}
	&--raised, &--unelevated {
		&:enabled {
			background-color: #404040;
		}
	}
	&--outlined {
		&:enabled {
			border-color: rgba(255, 255, 255, 0.6);
			&:hover, &:focus {
				border-color: rgba(255, 255, 255, 0.87);
			}
		}
		&:disabled {
			border-color: rgba(255, 255, 255, 0.38);
		}
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.38);
	}
	&::before, &::after {
		background-color: #ffffff;
	}
	form > & {
		margin: 8px 0;
	}
}
.mdc-icon-button {
	&:not(:disabled) {
		color: rgba(255, 255, 255, 0.38);
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.19);
	}
	&::before, &::after {
		background-color: #ffffff;
	}
}
@-webkit-keyframes autofill {
	to {
		color: rgba(255, 255, 255, 0.87);
		background-color: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
label {
	pointer-events: none;
}
.mdc-form-field label {
	pointer-events: initial;
}
.alwaysFloat {
	transform: translateY(-100%) scale(0.75);
}
.mdc-text-field {
	.mdc-line-ripple {
		background-color: #b54040;
	}
	&:not(&--disabled) .mdc-floating-label {
		color: rgba(255, 255, 255, 0.6);
	}
	&--focused:not(&--disabled) {
		&:not(.mdc-text-field--invalid) .mdc-floating-label {
			color: #e96363;
		}
		&.mdc-text-field--textarea {
			&, & .mdc-text-field__input:focus {
				border-color: #e96363;
			}
		}
	}
	&--textarea {
		&:not(.mdc-text-field--disabled) {
			&, & .mdc-text-field__input:focus {
				border-color: rgba(255, 255, 255, 0.73);
			}
		}
		&.mdc-text-field--disabled {
			border-color: rgba(255, 255, 255, 0.12);
			background-color: initial;
		}
	}
	&--disabled {
		.mdc-text-field__input, .mdc-floating-label {
			color: rgba(255, 255, 255, 0.37);
		}
	}
	&--textarea {
		&, &.mdc-text-field--disabled {
			.mdc-floating-label {
				background-color: #282828;
			}
		}
	}
}
:not(.mdc-text-field--textarea):not(.mdc-text-field--fullwidth).mdc-text-field {
	&:not(.mdc-text-field--disabled) {
		.mdc-text-field__input {
			color: rgba(255, 255, 255, 0.87);
		}
		&:not(.mdc-text-field--invalid) {
			.mdc-text-field__input {
				border-bottom-color: rgba(255, 255, 255, 0.5);
				&:hover {
					border-bottom-color: rgba(255, 255, 255, 0.87);
				}
			}
			.mdc-floating-label {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
	&--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
		color: #e96363;
	}
	&--invalid:not(.mdc-text-field--disabled) {
		.mdc-text-field__input {
			border-bottom-color: #b00020;
			&, &:hover {
				border-bottom-color: #d50000;
			}
		}
		.mdc-floating-label {
			color: #d50000;
		}
	}
	&--disabled {
		.mdc-text-field__input, .mdc-floating-label {
			color: rgba(255, 255, 255, 0.37);
		}
	}
	&:not(.mdc-text-field--disabled), &--disabled {
		border-bottom-color: rgba(255, 255, 255, 0.12);
	}
	&--upgraded {
		margin-top: 8px;
	}
}
textarea {
	resize: none;
}
.mdc-text-field {
	&:not(.mdc-text-field--disabled) .mdc-text-field__input {
		color: rgba(255, 255, 255, 0.87);
	}
}
.mdc-text-field-helper-text {
	opacity: 0.5;
	&, .mdc-text-field:not(.mdc-text-field--disabled) + &, .mdc-text-field--disabled + & {
		color: rgba(255, 255, 255, 0.6);
	}
}
.mdc-checkbox {
	&--disabled ~ label {
	   color: rgba(255, 255, 255, 0.38);
	}
	&::before, &::after {
		background-color: #505050;
	}
	&__native-control {
		&:checked, &:indeterminate {
			&:enabled {
				& ~ .mdc-checkbox__background {
					border-color: #505050;
					background-color: #505050;
				}
			}
			&:disabled ~ .mdc-checkbox__background {
				background-color: rgba(255, 255, 255, 0.06);
				.mdc-checkbox__checkmark-path {
					stroke: #808080 !important;
				}
			}
		}
		&:not(:checked):not(:indeterminate) {
			&:enabled ~ .mdc-checkbox__background {
				border-color: rgba(255, 255, 255, 0.54);
			}
			&:disabled ~ .mdc-checkbox__background {
				border-color: rgba(255, 255, 255, 0.26);
			}
		}
	}
}
@keyframes mdc-checkbox-fade-in-background-0 {
	0% {
		border-color: rgba(255, 255, 255, 0.54);
		background-color: transparent
	}
	50% {
		border-color: #505050;
		background-color: #505050;
	}
}
@keyframes mdc-checkbox-fade-out-background-0 {
	0%, 80% {
		border-color: #505050;
		background-color: #505050;
	}
	to {
		border-color: rgba(255, 255, 255, 0.54);
		background-color: transparent
	}
}
.mdc-form-field {
	color: rgba(255, 255, 255, 0.87);
	user-select: none;
}
.mdc-dialog {
	&__surface {
		width: auto;
		min-width: 280px;
		max-width: 880px;
		max-height: 100%;
		margin: 15px;
		background-color: #202020;
		word-break: break-word;
		word-wrap: break-word;
	}
	&__body {
		overflow-y: auto;
		color: rgba(255, 255, 255, 0.54);
	}
	&__header, &__footer {
		flex-shrink: 0;
	}
}
.mdc-snackbar {
	z-index: 6;
	&__action-button {
		color: #a1a1a1;
	}
}
.grecaptcha-badge {
	border-radius: 3px;
	box-shadow: none !important;
	overflow: hidden;
}
