::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	&-track {
		background-color: transparent;
	}
	&-thumb {
		border: 2px solid transparent;
		background-clip: content-box;
		background-color: #484848;
		&:active {
			background-color: #606060;
		}
	}
	&-corner {
		background-color: #303030;
	}
}
* {
	outline: none;
	caret-color: currentColor !important;
}
body {
	margin: 0;
	overflow: hidden;
	background-color: #202020;
	color: rgba(255, 255, 255, 0.87);
	-webkit-tap-highlight-color: transparent;
}
hr {
	height: 0;
	margin: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}
a {
	color: inherit;
}
.hidden {
	display: none;
}
.transparent {
	opacity: 0.5;
}
.spaced + .spaced {
	margin-left: 8px;
}
.margined {
	margin-top: 8px;
}
.marginedMore {
	margin-top: 16px;
	margin-bottom: 8px;
}
#container {
	position: absolute;
	width: 100%;
	height: calc(100% - 64px);
	overflow-x: hidden;
	overflow-y: auto;
	@media (max-width: 599px) {
		height: calc(100% - 56px);
	}
}
.mdc-top-app-bar {
	top: 0;
	background-color: #303030;
}
.mdc-linear-progress {
	position: absolute;
	bottom: 0;
	&:not(.buffering) .mdc-linear-progress {
		&__buffer, &__buffering-dots {
			display: none;
		}
	}
	.mdc-linear-progress {
		&__buffering-dots {
			opacity: 0.5;
		}
		&__buffer {
			opacity: 0.25;
		}
		&__bar-inner {
			background-color: #b43c3c;
		}
	}
}
.mdc-drawer {
	top: 0;
	border-color: rgba(255, 255, 255, 0.12);
	background-color: #303030;
	& &__title {
		color: rgba(255, 255, 255, 0.87);
	}
	& &__subtitle {
		color: rgba(255, 255, 255, 0.87);
	}
	&__title, $__subtitle {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	.mdc-list-item {
		color: rgba(255, 255, 255, 0.87);
		&, &--activated {
			.mdc-list-item__graphic {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
}
.mdc-list {
	user-select: none;
	-moz-user-select: -moz-none;
	&:not(&--non-interactive) > &-item:not(&-item--disabled) {
		&::before, &::after {
			background-color: #ffffff;
		}
	}
}
#legal {
	margin: 10px 16px;
	opacity: 0.75;
	font-size: small;
}
#externalContainer {
	align-self: flex-start;
	margin-top: auto;
	#externals {
		margin: 10px;
		padding: 2px;
		border-radius: 2px;
		background-color: currentColor;
		.external {
			display: inline-block;
			min-width: 28px;
			height: 28px;
			margin: 1px;
			padding: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 24px;
		}
	}
}
main {
	display: block;
	margin: 0 auto;
	padding: 60px;
	box-sizing: border-box;
	background-color: #282828;
	word-break: break-word;
	word-wrap: break-word;
	@media (max-width: 1519px) {
		width: 100%;
		max-width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 45px;
	}
	@media (min-width: 1520px) {
		max-width: 1400px;
	}
}
.mdc-ripple-surface {
	user-select: none;
	-moz-user-select: -moz-none;
}
.mdc-card {
	background-color: #303030;
	&__title {
		margin: 0;
	}
	&__subtitle {
		margin: 0;
		color: rgba(255, 255, 255, 0.54);
	}
	&__area {
		padding: 0 1rem 8px 1rem;
		color: rgba(255, 255, 255, 0.54);
		&:first-child {
			padding-top: 1rem;
		}
		&:last-child {
			padding-bottom: 1rem;
		}
	}
}
.mdc-button {
	&:not(:disabled) {
		color: rgba(255, 255, 255, 0.87);
	}
	&--raised, &--unelevated {
		&:not(:disabled) {
			background-color: #404040;
		}
	}
	&--outlined {
		&:not(:disabled) {
			border-color: rgba(255, 255, 255, 0.6);
			&:hover, &:focus {
				border-color: rgba(255, 255, 255, 0.87);
			}
		}
		&:disabled {
			border-color: rgba(255, 255, 255, 0.38);
		}
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.38);
	}
	&::before, &::after {
		background-color: #ffffff;
	}
}
.mdc-icon-button {
	height: 40px;
	width: 40px;
	padding: 0;
	vertical-align: middle;
	&:not(:disabled) {
		color: rgba(255, 255, 255, 0.38);
	}
	&:disabled {
		color: rgba(255, 255, 255, 0.19);
	}
	&::before, &::after {
		background-color: #ffffff;
	}
	&.inline {
		width: 1em;
		height: 1em;
		padding: 0;
		vertical-align: bottom;
	}
}
@keyframes autofill {
	to {
		color: rgba(255, 255, 255, 0.87);
		background-color: transparent;
	}
}
input:-webkit-autofill {
	animation-name: autofill;
	animation-fill-mode: both;
}
.mdc-floating-label {
	max-width: initial !important;
	.mdc-text-field:not(.mdc-text-field--textarea) & {
		left: 0;
		bottom: 8px;
		&--float-above, &.alwaysFloat {
			transform: translateY(-100%) scale(0.75);
		}
	}
	.mdc-text-field--textarea & {
		&--float-above, &.alwaysFloat {
			transform: translateY(-50%) scale(0.923);
		}
	}
	.mdc-text-field__input:-webkit-autofill + & {
		transform: translateY(-100%) scale(0.75);
	}
	.mdc-select & {
		&--float-above, &.alwaysFloat {
			transform: translateY(-40%) scale(0.75);
		}
	}
}
textarea {
	resize: none;
}
.mdc-text-field {
	height: initial;
	.mdc-line-ripple {
		background-color: #b54040;
	}
	&:not(&--disabled) {
		background-color: transparent;
		.mdc-text-field__input {
			color: rgba(255, 255, 255, 0.87);
		}
		.mdc-floating-label {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&--focused:not(&--disabled) {
		&:not(.mdc-text-field--invalid) .mdc-floating-label {
			color: #e96363;
		}
		&.mdc-text-field--textarea {
			&, & .mdc-text-field__input:focus {
				border-color: #e96363;
			}
		}
	}
	&:not(&--textarea) {
		overflow: initial;
	}
	&--textarea {
		&:not(.mdc-text-field--disabled) {
			&, & .mdc-text-field__input:focus {
				border-color: rgba(255, 255, 255, 0.73);
			}
		}
		&.mdc-text-field--disabled {
			border-color: rgba(255, 255, 255, 0.12);
			background-color: initial;
			.mdc-floating-label {
				color: rgba(255, 255, 255, 0.37);
			}
		}
		&, &.mdc-text-field--disabled {
			.mdc-floating-label {
				background-color: #282828;
			}
		}
	}
	&--disabled {
		background-color: transparent;
		.mdc-text-field__input {
			border-bottom: 1px dotted rgba(255, 255, 255, 0.12);
			color: rgba(255, 255, 255, 0.37);
		}
	}
	&__input {
		height: 30px;
		padding: 20px 0 1px;
		box-sizing: initial;
		.mdc-text-field--dense & {
			padding: 12px 0 0 0;
		}
	}
	&::before, &::after {
		display: none;
	}
}
:not(.mdc-text-field--textarea):not(.mdc-text-field--fullwidth).mdc-text-field {
	&:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) {
		.mdc-text-field__input {
			border-bottom-color: rgba(255, 255, 255, 0.42);
			&:hover {
				border-bottom-color: rgba(255, 255, 255, 0.87);
			}
		}
		.mdc-floating-label {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
		color: #e96363;
	}
	&--invalid:not(.mdc-text-field--disabled) {
		.mdc-text-field__input {
			border-bottom-color: #b00020;
			&:hover {
				border-bottom-color: #d50000;
			}
		}
		.mdc-floating-label {
			color: #d50000;
		}
	}
	&--disabled {
		.mdc-text-field__input, .mdc-floating-label {
			color: rgba(255, 255, 255, 0.37);
		}
	}
}
.mdc-text-field-helper-text {
	opacity: 0.5;
	.mdc-text-field + & {
		margin: 0;
	}
	&, .mdc-text-field:not(.mdc-text-field--disabled) + &, .mdc-text-field--disabled + & {
		color: rgba(255, 255, 255, 0.6);
	}
}
#year {
	width: 4em;
	& > div {
		vertical-align: bottom;
	}
}
.mdc-select {
	&:not(.mdc-select--disabled) {
		background-color: #303030;
		.mdc-floating-label {
			color: rgba(255, 255, 255, 0.6);
		}
		.mdc-select__native-control {
			border-bottom-color: rgba(255, 255, 255, 0.42);
			color: rgba(255, 255, 255, 0.87);
			&:hover {
				border-bottom-color: rgba(255, 255, 255, 0.87);
			}
			&:focus {
				& ~ .mdc-floating-label {
					color: #e96363;
				}
				& ~ .mdc-line-ripple {
					background-color: #b54040;
				}
			}
			& option {
				background-color: #303030;
			}
		}
	}
	&--disabled {
		background-color: transparent;
		.mdc-select__native-control {
			border-bottom: 1px dotted rgba(255, 255, 255, 0.12);
		}
		.mdc-select__native-control, .mdc-floating-label {
			color: rgba(255, 255, 255, 0.37);
		}
	}
	&::before, &::after {
		background-color: rgba(255, 255, 255, 0.87);
	}
}
.mdc-checkbox {
	&--disabled ~ label {
	   color: rgba(255, 255, 255, 0.38);
	}
	&::before, &::after {
		background-color: #505050;
	}
	&__native-control {
		&:checked, &:indeterminate {
			&:not(:disabled) {
				& ~ .mdc-checkbox__background {
					border-color: #505050;
					background-color: #505050;
				}
			}
			&:disabled ~ .mdc-checkbox__background {
				background-color: rgba(255, 255, 255, 0.06);
				.mdc-checkbox__checkmark-path {
					stroke: #808080 !important;
				}
			}
		}
		&:not(:checked):not(:indeterminate) {
			&:not(:disabled) ~ .mdc-checkbox__background {
				border-color: rgba(255, 255, 255, 0.54);
			}
			&:disabled ~ .mdc-checkbox__background {
				border-color: rgba(255, 255, 255, 0.26);
			}
		}
	}
}
@keyframes mdc-checkbox-fade-in-background-0 {
	0% {
		border-color: rgba(255, 255, 255, 0.54);
		background-color: transparent
	}
	50% {
		border-color: #505050;
		background-color: #505050;
	}
}
@keyframes mdc-checkbox-fade-out-background-0 {
	0%, 80% {
		border-color: #505050;
		background-color: #505050;
	}
	to {
		border-color: rgba(255, 255, 255, 0.54);
		background-color: transparent
	}
}
.mdc-form-field {
	color: rgba(255, 255, 255, 0.87);
	user-select: none;
	-moz-user-select: -moz-none;
}
.mdc-dialog {
	& &__surface {
		background-color: #202020;
	}
	& &__title {
		color: rgba(255, 255, 255, 0.87);
	}
	& &__content {
		color: rgba(255, 255, 255, 0.6);
	}
	&.mdc-dialog--scrollable &__title, &.mdc-dialog--scrollable &__actions {
		border-color: rgba(255, 255, 255, 0.12);
	}
}
.mdc-snackbar {
	z-index: 8;
	&__action-button {
		color: #a1a1a1;
	}
}
.table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}
.thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
.tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.td, .th {
	display: table-cell;
	vertical-align: inherit;
}
